<!DOCTYPE html>
<html>
<body>
<div th:fragment="topbar" class="row border-bottom white-bg">
    <nav class="navbar navbar-expand-lg navbar-static-top"
         role="navigation">
        <a sec:authorize="!isAuthenticated()" th:href="@{/}" class="navbar-brand" style="background: white; padding-bottom: 0px; padding-top: 0px;">
			<img class="img-fluid" src="/img/logo.png" style="display: inline; max-width: 30vw; max-height: 70px;">
        </a>
        <a sec:authorize="isAuthenticated()" th:href="@{/mailbox/INBOX}" class="navbar-brand" style="background: white; padding-bottom: 0px; padding-top: 0px;">
			<img class="img-fluid" src="/img/logo.png" style="display: inline; max-width: 30vw; max-height: 70px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbar" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fa fa-reorder"></i>
        </button>

		<div class="navbar-collapse collapse" id="navbar">
			<ul class="nav navbar-nav mr-auto">
				<th:block sec:authorize="isAuthenticated()">
					<!-- menu -->
					<li sec:authorize="hasRole('ROLE_USER')" th:class="${page != null && #strings.startsWith(page, 'mailbox')} ? 'active' : ''">
	                	<a th:href="@{/mailbox/INBOX}">
	                    	Indbakke
	                    </a>
	                </li>
					<li th:class="${page != null && #strings.startsWith(page, 'medcomlogs')} ? 'active' : ''">
	                	<a th:href="@{/logs}">
	                    	MedcomLog
	                    </a>
	                </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')" th:class="${page != null && #strings.startsWith(page, 'logs')} ? 'active' : ''">
                        <a th:href="@{/auditlog}">
                            Log
                        </a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')" th:class="${page != null && #strings.startsWith(page, 'recipients')} ? 'active' : ''">
                        <a th:href="@{/admin/recipients}">
                            Modtagere
                        </a>
                    </li>
				</th:block>
			</ul>

            <ul sec:authorize="isAuthenticated()" class="d-none d-lg-inline nav navbar-top-links navbar-right">
                <li class="dropdown show">
                    <a data-toggle="dropdown" href="#" aria-expanded="true"> <i class="fa fa-user"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <form role="form" th:action="@{/logout}" method="POST" id="logoutForm">
                                <a onclick="document.forms['logoutForm'].submit()" type="submit">
                                    <i class="fa fa-sign-out"></i> &nbsp; Log ud
                                </a>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>