<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header}" />
<body class="top-navigation">
	<div id="wrapper">
	    <div id="page-wrapper" class="gray-bg">
			<div th:replace="~{fragments/topbar :: topbar}"></div>

	        <div class="wrapper wrapper-content">
	            <div class="row">
	                <div class="col-lg-10 offset-lg-1">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5><em class="fa fa-user"></em> &nbsp; Login fejlet</h5>
                            </div>

                            <div class="ibox-content" >
	                        	Login fejlede - formodentligt er du ikke tildelt adgang til systemet.
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<div th:replace="~{fragments/footer :: scripts}"></div>
</body>
</html>
