<!DOCTYPE html >
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header(datatables = true)}"/>
<body class="top-navigation">
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="~{fragments/topbar :: topbar(page=mailbox)}"/>

        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-3">
                    <div th:replace="~{fragments/mailbox_menu :: mailboxMenu}"></div>
                </div>
                <div class="col-lg-9 animated fadeInRight">
                    <div class="mail-box-header">
                        <h2>
                            <th:block th:if="${inboxFolder != null}">
                                <span th:text="${inboxFolder.name}"></span>
                            </th:block>
                            <th:block th:unless="${inboxFolder != null}">
                                <span th:if="${folder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).INBOX}">Indbakke </span>
                                <span th:if="${folder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).ARCHIVE}">Arkiv </span>
                                <span th:if="${folder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).SENT}">Sendte beskeder </span>
                                <span th:if="${folder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).DELETED}">Slettede beskeder </span>
                            </th:block>
                            <span th:text="'(' + ${folderCount} + ')'"></span>
                        </h2>
                        <div class="mail-tools tooltip-demo m-t-md"
                             th:if="${folder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).INBOX}">
                            <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left"
                                    title="Refresh indbakke" onclick="window.location.reload()"><i
                                    class="fa fa-refresh"></i> Hent beskeder
                            </button>
                            <button sec:authorize="hasRole('ROLE_ADMIN')" th:if="${inboxFolder != null}"
                                    class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="left"
                                    title="Slet mappe"
                                    th:attr="onclick='mailboxService.onFolderDelete(' + ${inboxFolder != null ? inboxFolder.id : null}+ ')'"><i
                                    class="fa fa-trash"></i> Slet Mappe
                            </button>
                        </div>
                    </div>
                    <div class="mail-box">
                        <table class="table table-hover table-mail col-lg-12">
                            <thead>
                            <tr>
                                <th name="id" >id</th>
                                <th class="align-middle" ><span>Høj prioritet</span></th>
                                <th  th:unless="${folder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).SENT}" class="col-lg-2 align-bottom" >Afsender</th>
                                <th th:if="${folder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).SENT}" class="col-lg-2 align-bottom" >Modtager</th>
                                <th class="col-lg-2 align-bottom">Navn</th>
                                <th class="col-lg-1 align-bottom">Cpr</th>
                                <th class="col-lg-5 align-bottom" >Emne</th>
                                <th class="align-bottom">Vedhæftninger</th>
                                <th class="align-bottom" >Dato</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: scripts(datatables = true)}"></div>
<script th:src="@{/js/mailbox.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    /*[+
        const folderIdPostfix = [[${inboxFolder} ? '?folder='+${inboxFolder.id} : '']]
        const folder = [[${folder}]]
        const token = $("meta[name='_csrf']").attr("content");
        const folderRestUrl = "/rest/folder"
        let mailboxService;
    +]*/
    /*]]>*/
</script>
</body>
</html>
