<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}" />
<body class="top-navigation">
	<div id="wrapper">
	    <div id="page-wrapper" class="gray-bg">
			<div th:replace="~{fragments/topbar :: topbar(page=mailbox)}" />

	        <div class="wrapper wrapper-content">
	        	<div class="row">
		            <div class="col-lg-3">
		                <div th:replace="~{fragments/mailbox_menu :: mailboxMenu}"></div>
		            </div>
		            <div class="col-lg-9 animated fadeInRight">
		            	<div class="mail-box-header">
			                <div class="float-right tooltip-demo">
                                <button th:if="${@medcomMailboxConfiguration.isDownloadAsPdf()}" class="btn btn-white" data-toggle="tooltip" data-placement="top" title="Videresend besked" onclick="mailService.downloadPDF(this)" th:attr="data-id=${mail.id}"><i class="fa fa-file-pdf-o"></i> Download PDF</button>
			                    <a th:unless="${mail.folder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).SENT OR mail.folder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).DELETED}" th:href="'/mail/' + ${mail.id} + '/forward'" class="btn btn-white" data-toggle="tooltip" data-placement="top" title="Videresend besked"><i class="fa fa-share"></i>  Videresend</a>
			                    <a th:unless="${mail.folder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).SENT OR mail.folder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).DELETED}" th:href="'/mail/' + ${mail.id} + '/answer'" class="btn btn-white" data-toggle="tooltip" data-placement="top" title="Svar besked"><i class="fa fa-reply"></i>  Svar</a>
			                    <button th:if="${mail.folder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).INBOX}"  class="btn btn-white" data-toggle="tooltip" data-placement="top" title="Flyt besked" onclick="modalService.openMoveModal()" th:attr="data-id=${mail.id}"><i class="fa fa-folder-open"></i></button>
			                    <button th:if="${mail.folder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).INBOX}"  class="btn btn-white" data-toggle="tooltip" data-placement="top" title="Arkiver besked" onclick="mailService.archive(true)" th:attr="data-id=${mail.id}"><i class="fa fa-archive"></i> </button>
			                	<button th:if="${mail.folder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).ARCHIVE}"  class="btn btn-white" data-toggle="tooltip" data-placement="top" title="Flyt besked til indbakke" onclick="mailService.archive(false)" th:attr="data-id=${mail.id}"><i class="fa fa-inbox"></i> </button>
			                	<button th:unless="${mail.folder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).DELETED}" class="btn btn-white" data-toggle="tooltip" data-placement="top" title="Flyt besked til slettede beskeder" onclick="mailService.delete(true)" th:attr="data-id=${mail.id}"><i class="fa fa-trash"></i> </button>
			                	<button th:if="${mail.folder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).DELETED AND mail.originalFolder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).INBOX}" class="btn btn-white" data-toggle="tooltip" data-placement="top" title="Flyt besked tilbage til indbakke" onclick="mailService.delete(false, 'indbakke')" th:attr="data-id=${mail.id}"><i class="fa fa-inbox"></i> </button>
			                	<button th:if="${mail.folder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).DELETED AND mail.originalFolder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).SENT}" class="btn btn-white" data-toggle="tooltip" data-placement="top" title="Flyt besked tilbage til sendte beskeder" onclick="mailService.delete(false, 'sendte beskeder')" th:attr="data-id=${mail.id}"><i class="fa fa-inbox"></i> </button>
			                </div>

			                <h2 th:text="'Emne: ' + ${mail.subject}"></h2>
			                <div class="mail-tools tooltip-demo m-t-md">
			                    <h5>
			                        <span th:if="${mail.originalFolder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).SENT}" class="float-right font-normal" th:text="${#temporals.format(mail.sent, 'dd/MM/yyyy HH:mm')}"></span>
			                        <span th:unless="${mail.originalFolder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).SENT}" class="float-right font-normal" th:text="${#temporals.format(mail.received, 'dd/MM/yyyy HH:mm')}"></span>
			                        <span th:unless="${mail.originalFolder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).SENT}" class="font-normal" th:utext="'<strong>Fra:</strong> ' + ${mail.sender.fullOrganisationName}"></span>
			                        <span th:if="${mail.originalFolder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).SENT}" class="font-normal" th:utext="'<strong>Til:</strong> ' + ${mail.recipient.fullOrganisationName}"></span>
									<th:block th:if="${mail.associatedIdentifier != null}">
										&nbsp;<span th:unless="${mail.originalFolder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).SENT}" class="font-normal" th:utext="'<strong>Til:</strong> ' + ${mail.associatedIdentifier}"></span>
										&nbsp;<span th:if="${mail.originalFolder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).SENT}" class="font-normal" th:utext="'<strong>Fra:</strong> ' + ${mail.associatedIdentifier}"></span>
									</th:block>
								</h5>
			                </div>

							<th:block th:unless="${mail.originalFolder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).SENT}">
								<div class="font-normal" th:if="${mail.senderDepartmentName != null}"><strong>Afsenders afdelingsnavn: </strong><span th:text="${mail.senderDepartmentName}"></span></div>
								<div class="font-normal" th:if="${mail.sender.getUnitName() != null}"><strong>Afsenders enhed: </strong><span th:text="${mail.sender.getUnitName()}"></span></div>
								<div class="font-normal" th:if="${mail.senderMedicalSpecialityCode != null}"><strong>Afsenders medicinske speciale: </strong><span th:text="${mail.senderMedicalSpecialityCode.displayValue}"></span></div>
                                <div class="font-normal" th:if="${mail.sender.phoneNumber != null}"><strong>Afsenders telefon: </strong><span th:text="${mail.sender.phoneNumber}"></span></div>
								<div class="font-normal" th:if="${mail.senderDepartmentName != null}"><strong>Afsenders adresse: </strong></div>
								<th:block>

									<div class="font-normal" th:if="${mail.sender.getStreetName() != null}"><span th:text="${mail.sender.getStreetName()}"></span></div>
									<p>
										<span class="font-normal" th:if="${mail.sender.getPostcodeIdentifier() != null}"><span th:text="${mail.sender.getPostcodeIdentifier()}"></span></span>
										<span class="font-normal" th:if="${mail.sender.getDistrictName() != null}"><span th:text="${mail.sender.getDistrictName()}"></span></span>
									</p>
								</th:block>
							</th:block>
			                <p th:if="${mail.originalFolder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).SENT && mail.receivedNegativeReceipt}"><span class="label label-danger">Negativ kvittering</span> <strong>Afvisningsgrund:</strong> <span th:if="${mail.negativeReceiptReason != null}" th:text="${mail.negativeReceiptReason}"></span></p>
			                <p>
			                	<strong>Patient:</strong>
			                	<span th:text="${mail.patient.name} + ' (' + ${mail.patient.cpr} + ' - ' + ${mail.patient.episodeOfCareStatusCode.displayValue} + ')'"></span>
			                	<span th:if="${mail.patient.streetName != null}" th:text="'- ' + ${mail.patient.streetName}"></span>
			                	<span th:if="${mail.patient.suburbName != null}" th:text="', ' + ${mail.patient.suburbName}"></span>
			                	<span th:if="${mail.patient.postCodeIdentifier != null}" th:text="', ' + ${mail.patient.postCodeIdentifier}"></span>
			                	<span th:if="${mail.patient.districtName != null}" th:text="' ' + ${mail.patient.districtName}"></span>
			                </p>
			            	<p th:if="${mail.highPriority}"><span class="label label-primary">Høj prioritet</span></p>
			            </div>

		                <div class="mail-box">
			                <pre class="mail-body" style="border: 0px; background: #FAFAFA;" th:utext="${content}"></pre>
		                    <div class="mail-attachment" th:if="${mail.references!=null and !mail.references.empty}">
		                        <p>
									<div th:if="${mail.getBinaryMessage() == null}">
										<p>Vi har endnu ikke modtaget de vedhæftede filer.</p>
									</div>
		                            <span><i class="fa fa-paperclip"></i><span th:text="' ' + ${#lists.size(mail.references)} + (${#lists.size(mail.references)} == 1 ? ' fil' : ' filer')"></span></span>
		                        </p>
		                        <div class="attachment">
		                            <div class="file-box" th:each="attachment : ${mail.references}">
		                                <div class="file" th:if="${T(dk.digitalidentity.medcommailbox.dao.model.enums.ReferenceType).BIN == attachment.referenceType}"
											 th:with="contentType=${T(dk.digitalidentity.medcommailbox.util.MedcomContentType).contentTypeFor(attachment.getObjectExtensionCode())}">
		                                    <a th:attr="data-attachmentid=${attachment.id},data-contenttype=${contentType}" onclick="mailService.download(this)" >
		                                        <span class="corner"></span>
		                                        <div class="icon" th:switch="${attachment.getObjectExtensionCode()}">
		                                            <i class="fa fa-image" th:case="'jpeg'"></i>
		                                            <i class="fa fa-image" th:case="'png'"></i>
		                                            <i class="fa fa-image" th:case="'gif'"></i>
		                                            <i class="fa fa-file-pdf-o" th:case="'pdf'"></i>
													<i class="fa fa-file" th:case="*"></i>
		                                        </div>
		                                        <div class="file-name" th:text="${@binaryService.getReferenceFilename(attachment)} + ' (' + ${T(dk.digitalidentity.medcommailbox.util.ThymeleafFormatters).readableFileSize(attachment.getObjectOriginalSize()) + ')'}" style="word-wrap: break-word !important; white-space: normal !important"></div>
		                                    </a>
		                                </div>
		                                <div class="file" th:if="${T(dk.digitalidentity.medcommailbox.dao.model.enums.ReferenceType).SUP == attachment.referenceType}">
	                                        <span class="corner"></span>
	                                        <div class="icon">
	                                            <i class="fa fa-database"></i>
	                                        </div>
	                                        <div class="file-name" th:text="${attachment.referenceDescription}" style="word-wrap: break-word !important; white-space: normal !important"></div>
		                                </div>
		                                <div class="file" th:if="${T(dk.digitalidentity.medcommailbox.dao.model.enums.ReferenceType).URL == attachment.referenceType}">
		                                	<a th:href="${attachment.referenceUrl}">
		                                        <span class="corner"></span>
		                                        <div class="icon">
		                                            <i class="fa fa-link"></i>
		                                        </div>
		                                        <div class="file-name" th:text="${attachment.referenceDescription}" style="word-wrap: break-word !important; white-space: normal !important"></div>
		                                    </a>
		                                </div>
		                            </div>
		                            <div class="clearfix"></div>
		                        </div>
	                        </div>
		                </div>
						<div class="i-box">
							<div class="ibox-title tooltip-demo">
								Kvitteringsinformation besked &nbsp;
								<i class="fa fa-question" data-toggle="tooltip" data-placement="top" title="Kvitteringen modtages forsinket - og en besked kan godt være modtaget selvom der ikke er kommet en kvittering endnu"></i>
							</div>
							<div class="ibox-content" style="padding-left: 15px;">
								<th:block th:if="${log != null AND log.receiptType != null}">
									<p><strong th:if="${log.incomming}">Kvittering afsendt:</strong><strong th:unless="${log.incomming}">Kvittering modtaget:</strong> <span th:if="${log.receiptTts != null}" th:text="${#temporals.format(log.receiptTts, 'yyyy-MM-dd HH:mm')}"></span></p>
									<p><strong>Kvitteringstype:</strong> <span th:if="${log.receiptType != null}" th:text="${log.receiptType.displayValue}"></span></p>
									<p th:if="${log.negativeReceiptReason != null}"><strong>Evt. afvisningsgrund:</strong></p>
									<p th:if="${log.negativeReceiptReason != null}" th:utext="${log.negativeReceiptReason}"></p>
								</th:block>
								<th:block th:unless="${log != null AND log.receiptType != null}">
									<p>Kvittering endnu ikke <span th:text="${mail.originalFolder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).INBOX} ? 'afsendt' : 'modtaget'"></span></p>
								</th:block>
							</div>
						</div>
						<div class="i-box mt-1" th:if="${binlog != null}">
							<div class="ibox-title tooltip-demo">
								Kvitteringsinformation filer &nbsp;
								<i class="fa fa-question" data-toggle="tooltip" data-placement="top" title="Kvitteringen modtages forsinket - og en besked kan godt være modtaget selvom der ikke er kommet en kvittering endnu"></i>
							</div>
							<div class="ibox-content" style="padding-left: 15px;">
								<th:block th:if="${binlog != null AND binlog.receiptType != null}">
									<p><strong th:if="${binlog.incomming}">Kvittering afsendt:</strong><strong th:unless="${binlog.incomming}">Kvittering modtaget:</strong> <span th:if="${binlog.receiptTts != null}" th:text="${#temporals.format(binlog.receiptTts, 'yyyy-MM-dd HH:mm')}"></span></p>
									<p><strong>Kvitteringstype:</strong> <span th:if="${binlog.receiptType != null}" th:text="${binlog.receiptType.displayValue}"></span></p>
									<p th:if="${binlog.negativeReceiptReason != null}"><strong>Evt. afvisningsgrund:</strong></p>
									<p th:if="${binlog.negativeReceiptReason != null}" th:utext="${binlog.negativeReceiptReason}"></p>
								</th:block>
								<th:block th:unless="${binlog != null AND binlog.receiptType != null}">
									<p>Kvittering endnu ikke <span th:text="${mail.originalFolder == T(dk.digitalidentity.medcommailbox.dao.model.enums.Folder).INBOX} ? 'afsendt' : 'modtaget'"></span></p>
								</th:block>
							</div>
						</div>
		            </div>
		        </div>
	        </div>
	    </div>
	</div>

	<!-- move mail modal -->
	<div class="modal inmodal" id="moveMailModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<h4 class="modal-title">Flyt besked</h4>
				</div>

				<div class="modal-body">
					<div class="form-group row mt-3">
						<label for="moveTo" class="col-lg-2 col-form-label">Mappe</label>
						<div class="col-lg-10">
							<select id="moveTo" class="form-control">
								<option value="-1" th:selected="${T(dk.digitalidentity.medcommailbox.Constants).FOLDER_INBOX_ID} == ${inboxFolderId}">Indbakke</option>
								<option th:each="inboxFolder : ${inboxFolders}" th:value="${inboxFolder.id}" th:text="${inboxFolder.name}" th:selected="${inboxFolder.id == inboxFolderId}"></option>
								<option th:value="${T(dk.digitalidentity.medcommailbox.Constants).FOLDER_CREATE_ID}">Opret ny mappe</option>
							</select>
						</div>
					</div>
					<div id="newFolderSection" hidden>
						<div class="form-group row mt-3">
							<label for="name" class="col-lg-2 col-form-label">Ny mappe</label>
							<div class="col-lg-10">
								<input id="name" class="form-control" placeholder="Navn">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" style="width: 80px;" onclick="modalService.cancel();">Annuller</button>
					<button type="button" class="btn btn-primary" style="width: 80px;" onclick="modalService.move(); return false;">Flyt</button>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="~{fragments/footer :: scripts}" />

	<script th:inline="javascript">
		/*<![CDATA[*/
		/*[+
			var mailId = [[${mail.id}]];
			var daysBeforeDeletion = [[${daysBeforeDeletion}]];
			const createFolderId = [[${T(dk.digitalidentity.medcommailbox.Constants).FOLDER_CREATE_ID}]]
		+]*/

		var token = $("meta[name='_csrf']").attr("content");
		var mailService, modalService;
		$(document).ready(function() {
			mailService = new MailService();
			modalService = new ModalService();

			modalService.init();
		});

		function ModalService() {
			this.init = function() {
				$("#moveTo").on("change", function(){
					// -2 means create new folder
					if ($(this).val() == createFolderId) {
						$("#newFolderSection").prop("hidden", false);
					} else {
						$("#newFolderSection").prop("hidden", true);
						$("#name").val("");
					}
				});
			}

			this.openMoveModal = function() {
				$('#moveMailModal').modal("show");
			}

			this.move = function() {
				var body = {
					"folderId": $("#moveTo").val(),
					"newFolderName": $("#name").val()
			    };

				$.ajax({
					contentType: 'application/json',
					url: "/rest/mails/" + mailId + "/move",
					method : "POST",
					headers: {
						'X-CSRF-TOKEN': token
					},
					data: JSON.stringify(body),
					error: function(response) {
						toastr.error("Fejl! Kunne ikke flytte besked");
					},
					success: function(response) {
						toastr.success("Besked flyttet.");
						if (response == 0) {
							setTimeout(() => {window.location.href="/mailbox/INBOX"}, 1000);
						} else {
							setTimeout(() => {window.location.href="/mailbox/INBOX?folder=" + response}, 1000);
						}
					}
				});
			}

			this.cancel = function() {
				$('#moveMailModal').modal("hide");
			}
		}

		function MailService() {

			this.download = function(elem) {
				const attachmentId = elem.dataset.attachmentid;
				const contenttype = elem.dataset.contenttype;
				let text = "Den vedhæftede fil åbner i et nyt vindue";
				let icon = "info";
				if (contenttype === "application/octet-stream") {
					text = "Filen downloades til din computer, det er dit ansvar at slette filen efter brug!"
					icon = "warning";
				}
				swal({
					html: true,
					title : "Fil download",
					text : text,
					type : icon,
					showCancelButton : true,
					confirmButtonColor : "#DD6B55",
					confirmButtonText : 'Fortsæt',
					cancelButtonText : 'Annuller',
					closeOnConfirm : true,
					closeOnCancel : true
				},
				(isConfirm) => {
					if (isConfirm) {
						window.open(`/attachments/${mailId}/attachments/${attachmentId}`, '_blank').focus();
					}
				});
			}

			this.archive = function(archive) {
				var title = "";
				var text = "";

				if (archive) {
					title = 'Arkiver besked';
					text = 'Er du sikker på at du vil arkivere denne besked?<br/>Du vil fremover kunne finde den under arkiv mappen.';
				} else {
					title = 'Flyt besked til indbakken';
					text = 'Er du sikker på at du vil flytte denne besked til indbakken?<br/>Du vil fremover kunne finde den under indbakke mappen.';
				}

				swal({
                    html: true,
                    title : title,
                    text : text,
                    type : "warning",
                    showCancelButton : true,
                    confirmButtonColor : "#DD6B55",
                    confirmButtonText : 'Ja',
                    cancelButtonText : 'Nej',
                    closeOnConfirm : true,
                    closeOnCancel : true
	            },
            	function (isConfirm) {
                    if (isConfirm) {
                    	$.ajax({
     	    			   url: "/rest/mails/" + mailId + "/archive?archive=" + archive,
     	    			   headers: {
     	    			      'X-CSRF-TOKEN': token
     	    			   },
     	    			   type: 'post',

     	    			   success: function(data, textStatus, jQxhr) {
								if (archive) {
									toastr.success("Beskeden er arkiveret!");
								} else {
									toastr.success("Beskeden er flyttet til indbakken!");
								}

								setTimeout(() => {window.location.href="/mailbox/INBOX"}, 2000);
     	    			   },
     	    			   error: function(jQxhr, textStatus, errorThrown) {
     	    				  	if (archive) {
     	    				  		toastr.error("Fejl! Kunne ikke arkivere besked.");
								} else {
									toastr.error("Fejl! Kunne ikke flytte beskeden til indbakken.");
								}

     	    			   }
     	    			});
                    }
	            });
			}

			this.delete = function(shouldDelete, orgFolder) {
				var title = "";
				var text = "";

				if (shouldDelete) {
					title = 'Slet besked';
					text = 'Er du sikker på at du vil flytte denne besked til slettede beskeder?<br/>Du vil fremover kunne finde den under slettede beskeder mappen, men den vil blive slettet permanent om ' + daysBeforeDeletion + ' dage.';
				} else {
					title = 'Flyt besked til ' + orgFolder;
					text = 'Er du sikker på at du vil flytte denne besked til ' + orgFolder + '?<br/>Du vil fremover kunne finde den under ' + orgFolder + ' mappen.';
				}

				swal({
                    html: true,
                    title : title,
                    text : text,
                    type : "warning",
                    showCancelButton : true,
                    confirmButtonColor : "#DD6B55",
                    confirmButtonText : 'Ja',
                    cancelButtonText : 'Nej',
                    closeOnConfirm : true,
                    closeOnCancel : true
	            },
            	function (isConfirm) {
                    if (isConfirm) {
                    	$.ajax({
     	    			   url: "/rest/mails/" + mailId + "/delete?delete=" + shouldDelete,
     	    			   headers: {
     	    			      'X-CSRF-TOKEN': token
     	    			   },
     	    			   type: 'post',

     	    			   success: function(data, textStatus, jQxhr) {
								if (shouldDelete) {
									toastr.success("Beskeden er flyttet til slettede beskeder!");
								} else {
									toastr.success("Beskeden er flyttet til " + orgFolder + "!");
								}

								setTimeout(() => {window.location.reload()}, 2000);
     	    			   },
     	    			   error: function(jQxhr, textStatus, errorThrown) {
     	    				  	if (shouldDelete) {
     	    				  		toastr.error("Fejl! Kunne ikke slette besked.");
								} else {
									toastr.error("Fejl! Kunne ikke flytte beskeden til " + orgFolder + ".");
								}

     	    			   }
     	    			});
                    }
	            });
			}

			this.downloadPDF = function(elem) {
				const mailId = elem.dataset.id;
				let text = 'Du er ved at downloade en potentiel <b class="text-danger">følsom</b> fil til din egen enhed. <br/> Det er <b class="text-danger">vigtigt</b>, at du sørger for at slette filen, når du ikke længere har brug for den.';
				let icon = "warning";
				swal({
					html: true,
					title : "Fil download",
					text : text,
					type : icon,
					showCancelButton : true,
					confirmButtonColor : "#DD6B55",
					confirmButtonText : 'Fortsæt',
					cancelButtonText : 'Annuller',
					closeOnConfirm : true,
					closeOnCancel : true
				},
				(isConfirm) => {
					if (isConfirm) {
			            var downloadUrl = '/rest/mails/' + mailId + '/downloadAsPdf';
			            var a = document.createElement('a');
			            a.href = downloadUrl;
			            a.download = "mail.pdf";
			            document.body.appendChild(a);
			            a.click();
			            document.body.removeChild(a);
					}
				});
			}
		}



		/*]]>*/
	</script>
</body>
</html>
