<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header(checkbox = true)}" />
<body class="top-navigation">
	<div id="wrapper">
	    <div id="page-wrapper" class="gray-bg">
			<div th:replace="~{fragments/topbar :: topbar(page=mailbox)}" />

	        <div class="wrapper wrapper-content">
	        	<div class="row">
		            <div class="col-lg-3">
		                <div th:replace="~{fragments/mailbox_menu :: mailboxMenu}"></div>
		            </div>
		            <div class="col-lg-9 animated fadeInRight">
			            <div class="mail-box-header">
			                <div class="float-right tooltip-demo">
			                    <a href="/mailbox/INBOX" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Annuller besked"><i class="fa fa-times"></i> Annuller</a>
			                </div>
			                <h2 th:if="${answer}">
			                    Besvar besked fra <span th:text="${to}"></span>:
			                </h2>
			                <h2 th:if="${!answer}">
			                    Send besked
			                </h2>
			            </div>
                		<div class="mail-box">
	                		<div class="col-lg-12">
	                			<th:block th:if="${!answer}">
		                			<div class="form-group row">
	                        			<label class="col-lg-2 col-form-label">Modtager:</label>
	                            		<div class="col-lg-10">
	                            			<select class="form-control" id="recipient">
												<option th:if="${selectedRecipient == null}" value="">Vælg modtager</option>
	                            				<option th:each="recipient : ${recipients}" th:text="${recipient.fullOrganisationName}" th:value="${recipient.eanIdentifier}"
														th:selected="${selectedRecipient != null && selectedRecipient.getIdentifier().equals(recipient.getIdentifier())}"></option>
	                            			</select>
	                            		</div>
	                       			</div>
									<div class="form-group row">
										<label class="col-lg-2 col-form-label">Afsender:</label>
										<div class="col-lg-10">
											<select class="form-control" id="sender">
												<option th:each="sender : ${senders}" th:text="${sender.organisationName} + ' (' + ${sender.identifier} + ')'"
														th:value="${sender.identifier}" th:selected="${selectedSender != null && selectedSender.getIdentifier().equals(sender.getIdentifier())}"></option>
											</select>
										</div>
									</div>
	                       			<div class="form-group row">
	                        			<label class="col-lg-2 col-form-label">Patient cpr:</label>
	                            		<div class="col-lg-10">
	                            			<input type="text" class="form-control" id="patientCpr" th:value="${patientCpr}">
	                            		</div>
	                       			</div>
	                       			<div class="form-group row">
	                        			<label class="col-lg-2 col-form-label">Patient navn:</label>
	                            		<div class="col-lg-10">
	                            			<input class="form-control" id="patientName" th:value="${patientName}">
	                            		</div>
	                       			</div>
									<div class="form-group row">
										<label class="col-lg-2 col-form-label">Beskedskabelon:</label>
										<div class="col-lg-10">
											<select class="form-control" id="messageTemplateSelect">
												<option th:value="null" th:text="Ingen"></option>
												<option th:each="template : ${messageTemplates}"
														th:value="${template.id}" th:text="${template.name}"></option>
											</select>
										</div>
									</div>
	                       			<div class="form-group row">
                        				<label class="col-lg-2 col-form-label">Emne:</label>
                            			<div class="col-lg-10">
                            				<input type="text" class="form-control" id="subject" th:value="${subject}">
                            			</div>
                       				</div>
                       			</th:block>
                       			<th:block th:if="${answer}"> 
                       				<p><strong>Patient: </strong> <span th:text="${patient.name} + ' (' + ${patient.cpr} + ' - ' + ${patient.episodeOfCareStatusCode.displayValue} + ')'"></span></p>
                       				<p><strong>Emne: </strong> <span th:text="${subject}"></span></p>
                       			</th:block>
                       			<div class="form-group row">
									<label class="col-lg-2 col-form-label">Høj prioritet:</label>
									<div class="col-lg-10">
										<label><input id="priority" type="checkbox" class="i-checks"></label>
									</div>
								</div>
	               			</div>
		                    <div class="col-lg-12">
		                        <textarea id="content" class="form-control" rows="10" maxlength="25000" th:utext="${content}"></textarea>
	                        </div>
	                        <p style="text-align: right; padding-right: 15px;"><span id="counter">0</span><span>/25.000</span></p>

							<th:block th:if="${@medcomMailboxConfiguration.isAllowAttachments()}">
								<div class="col-lg-12" style="margin-top: 20px;">
									<h3>Vedhæftede filer:</h3>
									<form id="uploadAttachmentForm" enctype="multipart/form-data" name="attachment">
										<button class="btn btn-white" style="margin-bottom: 20px;" onclick="document.getElementById('fileUpload').click(); return false;"><i class="fa fa-paperclip"></i> Vedhæft fil</button>
										<input type="file" name="file" id="fileUpload" style="display: none;"></input>
									</form>
									<ul style="list-style: none; padding-left: 0px;" id="attachments">
									</ul>
								</div>
							</th:block>

			                <div class="mail-body text-right tooltip-demo d-flex justify-content-between">
		                        <button type="button" id="saveAsTemplateButton" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Gem som skabelon" onclick="templateService.onSaveTemplateModalOpen()"><i class="fa fa-clipboard"></i> Gem som skabelon</button>
		                        <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Send besked" onclick="mailService.send()"><i class="fa fa-reply"></i> Send</button>
			                </div>
                		</div>
            		</div>
		        </div>
	        </div>
	    </div>
	</div>

	<div th:replace="~{fragments/footer :: scripts(checkbox = true)}" />

	<div hidden="hidden" th:replace="~{compose_mail/fragments/name_template_modal :: saveTemplateModal}"></div>
	<script th:src="@{/js/compose_mail.js}" ></script>

	<script th:inline="javascript">
		/*<![CDATA[*/
		/*[+
			const newMailId = [[${id}]];
			const caseId = [[${caseId}]];
			const answer = [[${answer}]];
			const token = $("meta[name='_csrf']").attr("content");
			const cprLookupUrl = [[@{/rest/mail/cprlookup/}]]
			const restUrl = [[@{rest/mail}]]
			let mailService;
			let templateService;
		+]*/


		/*]]>*/
	</script>
</body>
</html>
